body{
    background-color:#93b1cf;
    color: #000000;
    
}
h1.welcome{
    text-align: center;
    border: #000000 1px solid;
}
#sadCats{
    position:block;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}